
<div class="booking-container">
	<h1>{{name}}</h1>
	<p> <strong>Date: </strong><span class="date">{{date}}</span><br />
		<strong>Capacity: </strong><span class="capacity">{{capacity}}</span> ({{percentfull}} booked) </p>
	<h2>Details</h2>
	{{body}}
	<form name="catwebformform48727" onsubmit="return checkWholeForm48727(this)" action="/FormProcessv2.aspx?WebFormID=10254&amp;OID={module_oid}&amp;OTYPE={module_otype}&amp;EID={module_eid}&amp;CID={module_cid}" method="post" enctype="multipart/form-data" id="catwebformform48727">
		<div class="form-container">
			<h2>Booking</h2>
			<p>* Required</p>
			<label>Title</label>
			<br/>
			<select class="cat_dropdown_smaller" name="Title">
				<option value="3395">DR</option>
				<option value="3393">MISS</option>
				<option value="3391" selected="selected">MR</option>
				<option value="3392">MRS</option>
				<option value="3394">MS</option>
			</select>
			<label>First Name *</label>
			<input class="cat_textbox" maxlength="255" name="FirstName" id="FirstName" />
			<label>Last Name *</label>
			<input class="cat_textbox" maxlength="255" name="LastName" id="LastName" />
			<label>Email *</label>
			<input class="cat_textbox" maxlength="255" name="EmailAddress" id="EmailAddress"/>
			<label>Company</label>
			<input class="cat_textbox" maxlength="255" name="Company" id="Company" />
			<label>Work Phone Number</label>
			<input class="cat_textbox" maxlength="255" name="WorkPhone" id="WorkPhone" />
			<input class="cat_button" id="catwebformbutton" type="submit" value="Submit" />
			<div class="error">{module_error}</div>
			<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js" ></script> 
			<script type="text/javascript">
			//<![CDATA[
			var submitcount48727 = 0;function checkWholeForm48727(theForm){var why = "";if (theForm.FirstName) why += isEmpty(theForm.FirstName.value, "First Name");if (theForm.LastName) why += isEmpty(theForm.LastName.value, "Last Name"); if (theForm.EmailAddress) why += checkEmail(theForm.EmailAddress.value); if(why != ""){alert(why);return false;}if(submitcount48727 == 0){submitcount48727++;theForm.submit();return false;}else{alert("Form submission is in progress.");return false;}}
			//]]>
		</script> 
		</div>
		<!-- END .form-container -->
	</form>
	<div class="go-back">{module_referreraddress text="Go Back"}</div>
</div>
<!-- END .booking-container --> 
