<h2>{{name}}</h2>
<div class="blog-author-date">
    <p>{{author | strip_html}} - {{releaseDate | date: "dddd, %d MMMM, yyyy"}}</p>
</div>
{% if featured_image != "" -%}
<div class="blog-image"> <img class="img-responsive center-block" src="{{featured_image}}" alt="{{name}}">
</div>
{% endif %}
<div class="blog-body"> {{description}}</div>
<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b2024.r490259-phase1"></script>
<div class="blog-comment-form">
    <h3>Leave a comment</h3>
    <form name="catratingform57509" onsubmit="return checkWholeForm57509(this)" method="post" action="/RatingProcess.aspx?OID={module_oid}&amp;OTYPE={module_otype}">
        <div class="form-group">
            <label id="RFeedback">Your comment</label>
            <textarea class="form-control" name="Feedback" id="RFeedback" cols="10" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label id="RFullName">Name</label>
            <input class="form-control" type="text" name="FullName" id="RFullName" maxlength="255">
        </div>
        <div class="form-group">
            <label id="RWebsite">Website</label>
            <input class="form-control" type="text" name="Website" id="RWebsite" maxlength="255">
        </div>
        <div class="form-group">
            <label id="REmailAddress">Email Address</label>
            <input class="form-control" type="text" name="EmailAddress" id="REmailAddress" maxlength="255">
        </div>
        <div class="form-group">
            <label>Enter Word Verification in box below</label>
            <br />{module_captchav2}</div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
<div class="blog-user-comments">
	<h3>Comments</h3>
    {module_ratingfeedback template="" collection="feedback"} {% for f in feedback.items %}
    <div class="blog-comment">
        <h4>{{f.fullName}}</h4>
        <span class="blog-comment-date">{{f.date | date: "%d MMMM, yyyy"}}</span>
        <div class="blog-comment-body">
            {{f.body}}
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
//<![CDATA[
function checkWholeForm57509(theForm) {
    var why = "";
    if (theForm.EmailAddress)
        if (theForm.EmailAddress.value.length > 0) why += checkEmail(theForm.EmailAddress.value);
    if (theForm.CaptchaV2) why += captchaIsInvalid(theForm, "Enter Word Verification in box below",
        "Please enter the correct Word Verification as seen in the image");
    if (theForm['g-recaptcha-response']) why += reCaptchaV2IsInvalid(theForm, "Please prove you're not a robot");
    if (why != "") {
        alert(why);
        return false;
    }
    theForm.submit();
    return false;
}
//]]>
</script>
