<div class="blog-list-item">
    <h2><a href="{{url}}" title="Read more...">{{name}}</a></h2>
    <div class="blog-author-date">
        <p>{{author | strip_html}} - {{releaseDate | date: "dddd, %d MMMM, yyyy"}}</p>
    </div>
    <div class="blog-summary">
        <p>{{short_description}} <a class="blog-list-readmore" href="{{url}}"> ...read more</a></p>
    </div>
</div>
