
<table class="order-list" cellspacing="0" cellpadding="0">
	<tr>
		<td>{{orderName}} <span class="number">(invoice #{{invoiceNumber}})</span></td>
		<td><span class="date">{{invoiceDate}}</span></td>
		<td><span class="total">{{invoiceTotal}}</span></td>
	</tr>
</table>
