/* /stylesheets/less/objects/blog.less */
.blog-body{
    padding:0 3em;
    font-size:18px;
}
.blog-image{
    padding:2em 0 3em;
}
.blog-latest ul, .blog-categories ul {
    padding: 0;
    list-style: none;
}

.blog-list-item h2 a,
.blog-content h1 a {
    transition: color 0.2s ease-out;

    &:hover, &:focus{
	    text-decoration: none;
	    outline: none;
    }
}

.blog-author-date {
    border-top: 1px solid @light-gray;

    p{
    	font-size: 13px;
    	color: @light-gray;
    }
}

.blog-comment-form{
    margin:3em 0;
}