/* /stylesheets/less/objects/content.less */

.main-content {
    padding-top: 110px;
    padding-bottom:50px;
}

.hero {
    background: no-repeat center top url(/_assets/slideshow/slideshow-1.jpg);
    background-size: cover;
}

.hero-heading {
    height: 250px;
    position: relative;
    h1 {
        color: @white;
        position: absolute;
        bottom: 1em;
        left: 0;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}

.feature-item {
    width: 96%;
    padding: 1em;
    margin: 2%;
    background: @mdc-orange-50;
    text-align: center;
    border-radius:4px;
    border:1px solid @mdc-orange-400;
    i {
        color: @mdc-orange-400;
        font-size: 50px;
    }
}

.home-services{
    ul{
        list-style:none;
        padding:0 0 0 .2em;
    }
    li{
        color:@mid-gray;
    }
}
.home-tech img{
    margin:1em 0;
}
.home-services,
.home-contact,
.home-tech{
    padding:1em 2em;
}

@media (min-width:@screen-med) {
	.feature-item{
		width:29%;
	}
}

@media (min-width:@screen-lge) {
    .hero-heading {
        height: 450px;
    }
}
