/* /stylesheets/less/objects/footer.less */

footer{
	padding:2em 0;
	background:@mdc-orange-400;
	text-align:center;
}

.footer-logo{
	margin:1em 0;
}

.footer-social{
	ul{
		padding:0;
		list-style: none;
		display:flex;
		justify-content: space-around;
		width:250px;
	}
	a{
		color:@mdc-orange-400;
		font-size:25px;
		line-height:40px;

	}
	li{
		width:25%;
		background:@white;
		height:40px;
		width:40px;
		border-radius: 20px;
		text-align:center;
		transition: all .2s ease-out;

		a{
			transition: all .2s ease-in;
		}

		&:hover{
			background:@mdc-orange-400;

			a{
				color:@white;
			}
		}
	}
}

.footer-copy{
	margin:1em 0;
	p{
		font-size:@font-size-small;
		color:@mdc-orange-200;
	}
}
