/* Lists */

.inline-list {
	li {
		display: inline-block;
	}
}

/* Social List */
.social-list {
	li {
		margin: 0 0.4rem $space 0;
	}
	
	a {
		font-size: 1.6em;
	}
}


/* Bullet List */
.bullet-list {
	list-style: disc inside;
	margin: 0 0 1em 1.2em;
	line-height: 1.3;

	li {
		margin-bottom: $space;
	}
}

/* Text List */
.text-list {
	list-style: disc inside;
	margin: 0 0 1em;
	line-height: 1.3;

	li {
		margin-bottom: 1em;
	}
}