/* /stylesheets/less/objects/nav.less */

.navbar-default {
    background: darken(fade(@mdc-orange-400, 90%), 10%);
    position:fixed;
    width:100%;
    border-radius:0 ;
    border:none;
    z-index:100;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    .navbar-toggle {
        border: none;
        background: transparent;
        &:hover {
            background: transparent;
        }
        .icon-bar {
            background: @black;
        }
    }
    .navbar-nav > li > a {
        color: @black;
        text-transform: uppercase;
        transition: color .2s ease-out;

        &:focus, &:hover{
            color:@mdc-orange-100;
        }
    }
    .navbar-collapse {
        border: none;
        background: @white;
    }
}

.navbar-brand {
    height: auto;
}

@media (min-width:@screen-med) {
    .navbar-default {
        .navbar-collapse {
            background: transparent;
        }
    }
    .navbar-nav{
        margin:45px 0 0 0;
        float:right;
    }
}

@media (min-width:@screen-lge){

}
