//
// Search Box - Header
// ----------------------------------------------------

.search-result{
	width:100%;	
} 
.search-result h3 a{
	font-family:arial,sans-serif;
	color:#1a0dab;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
}
.search-result p{
	font-family:arial,sans-serif;
	color:#000;
	font-size:13px;
	line-height:1.4; 
}

@media only screen and (min-width:768px){
	
}
@media only screen and (min-width:900px){
	.search-result{
		width:50%;	 
	}
}

