/* /stylesheets/less/objects/slideshow.less */

.slideshow{
	position:relative;
	ul{
		margin:0;
		padding:0;
		list-style:none;

		li{
			text-align:center;
		}

		img{
			width:100%;
			max-width:2000px;
		}
	}

	.slideshow-caption{
		position:absolute;
		bottom:1em;
		left:1em;
		color:@white;
		font-size:26px;
		font-weight:100; 
		text-shadow:1px 2px 5px rgba(0,0,0,.4);
	}
}

@media (min-width:@screen-med){
	.slideshow{
		.slideshow-caption{
			font-size:50px;
		}

	}
}