
<form style="display: inline;">
	<table class="form" cellpadding="0" cellspacing="0">
		<tr>
			<td><p>You are buying a gift voucher. Please enter the recipients details below.</p></td>
		</tr>
		<tr>
			<td><label for="RecipientName">Recipient Name</label>
				<br />
				<input class="cat_textbox" id="RecipientName" name="RecipientName"></td>
		</tr>
		<tr>
			<td><label for="RecipientEmail">Recipient Email Address</label>
				<br />
				<input class="cat_textbox" id="RecipientEmail" name="RecipientEmail"></td>
		</tr>
		<tr>
			<td><label for="Message">Personal Message to Recipient</label>
				<br />
				<textarea class="cat_listbox" id="Message" name="Message" rows="5" cols="20"></textarea></td>
		</tr>
		<tr>
			<td>{tag_continue}</td>
		</tr>
	</table>
</form>
