<div class="shop-product-large clear">
	<div class="details">
		<h1>{{title}}</h1>
		<ul>
			<li class="price"><strong>{{salePrice}}</strong></li>
			<li class="instock">In stock: <strong>{{inStock}}</strong></li>
			<li class="quantity">{tag_addtocartinputfield} {tag_addtocart,<img src="/CatalystImages/shop_addtocart.png" />}</li>
		</ul>
		<div class="description">{{description}}</div>
	</div>
	<div class="image"> <img src="{{largeImageUrl}}" alt="{{title}}">
		<div class="poplets">{{poplets}}</div>
	</div>
</div>
