
<div class="g-2-1 shop-checkout shop-form">
<h1>Check Out</h1>
<p>* Required</p>
<form id="catwebformform42059" name="catwebformform42059" onSubmit="return checkWholeForm42059(this)" action="/FormProcessv2.aspx?WebFormID=10850&amp;OID={module_oid}&amp;OTYPE={module_otype}&amp;EID={module_eid}&amp;CID={module_cid}" method="post" enctype="multipart/form-data">
	<label>Title</label>
	<select class="form-select-small" id="Title" name="Title">
		<option value="5" selected="true">DR</option>
		<option value="3">MISS</option>
		<option value="1">MR</option>
		<option value="2">MRS</option>
		<option value="4">MS</option>
	</select>
	<label>First Name *</label>
	<input id="FirstName" type="text" maxlength="255" name="FirstName" />
	<label>Last Name *</label>
	<input id="LastName" type="text" maxlength="255" name="LastName" />
	<label>Email *</label>
	<input id="EmailAddress" type="text" maxlength="255" name="EmailAddress" />
	<label>Company</label>
	<input id="Company" type="text" maxlength="255" name="Company" />
	<label>Shipping Address</label>
	<input id="ShippingAddress" type="text" maxlength="500" name="ShippingAddress" />
	<label>City</label>
	<input id="ShippingCity" type="text" maxlength="255" name="ShippingCity" />
	<label>State</label>
	<input id="ShippingState" type="text" maxlength="255" name="ShippingState" />
	<label>Zipcode/Postcode</label>
	<input id="ShippingZip" type="text" maxlength="255" name="ShippingZip" />
	<label>Country</label>
	<select class="form-select" id="ShippingCountry" name="ShippingCountry">
		<option selected="true">-- Select Country --</option>
		<option value="AF">AFGHANISTAN</option>
		<option value="AX">ALAND ISLANDS</option>
		<option value="AL">ALBANIA</option>
		<option value="DZ">ALGERIA</option>
		<option value="AS">AMERICAN SAMOA</option>
		<option value="AD">ANDORRA</option>
		<option value="AO">ANGOLA</option>
		<option value="AI">ANGUILLA</option>
		<option value="AQ">ANTARCTICA</option>
		<option value="AG">ANTIGUA AND BARBUDA</option>
		<option value="AR">ARGENTINA</option>
		<option value="AM">ARMENIA</option>
		<option value="AW">ARUBA</option>
		<option value="AU">AUSTRALIA</option>
		<option value="AT">AUSTRIA</option>
		<option value="AZ">AZERBAIJAN</option>
		<option value="BS">BAHAMAS</option>
		<option value="BH">BAHRAIN</option>
		<option value="BD">BANGLADESH</option>
		<option value="BB">BARBADOS</option>
		<option value="BY">BELARUS</option>
		<option value="BE">BELGIUM</option>
		<option value="BZ">BELIZE</option>
		<option value="BJ">BENIN</option>
		<option value="BM">BERMUDA</option>
		<option value="BT">BHUTAN</option>
		<option value="BO">BOLIVIA</option>
		<option value="BA">BOSNIA AND HERZEGOVINA</option>
		<option value="BW">BOTSWANA</option>
		<option value="BV">BOUVET ISLAND</option>
		<option value="BR">BRAZIL</option>
		<option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
		<option value="BN">BRUNEI DARUSSALAM</option>
		<option value="BG">BULGARIA</option>
		<option value="BF">BURKINA FASO</option>
		<option value="BI">BURUNDI</option>
		<option value="KH">CAMBODIA</option>
		<option value="CM">CAMEROON</option>
		<option value="CA">CANADA</option>
		<option value="CV">CAPE VERDE</option>
		<option value="CI">CâTE D'IVOIRE</option>
		<option value="KY">CAYMAN ISLANDS</option>
		<option value="CF">CENTRAL AFRICAN REPUBLIC</option>
		<option value="TD">CHAD</option>
		<option value="CL">CHILE</option>
		<option value="CN">CHINA</option>
		<option value="CX">CHRISTMAS ISLAND</option>
		<option value="CC">COCOS (KEELING) ISLANDS</option>
		<option value="CO">COLOMBIA</option>
		<option value="KM">COMOROS</option>
		<option value="CG">CONGO</option>
		<option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
		<option value="CK">COOK ISLANDS</option>
		<option value="CR">COSTA RICA</option>
		<option value="HR">CROATIA</option>
		<option value="CU">CUBA</option>
		<option value="CY">CYPRUS</option>
		<option value="CZ">CZECH REPUBLIC</option>
		<option value="DK">DENMARK</option>
		<option value="DJ">DJIBOUTI</option>
		<option value="DM">DOMINICA</option>
		<option value="DO">DOMINICAN REPUBLIC</option>
		<option value="EC">ECUADOR</option>
		<option value="EG">EGYPT</option>
		<option value="SV">EL SALVADOR</option>
		<option value="GQ">EQUATORIAL GUINEA</option>
		<option value="ER">ERITREA</option>
		<option value="EE">ESTONIA</option>
		<option value="ET">ETHIOPIA</option>
		<option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
		<option value="FO">FAROE ISLANDS</option>
		<option value="FJ">FIJI</option>
		<option value="FI">FINLAND</option>
		<option value="FR">FRANCE</option>
		<option value="GF">FRENCH GUIANA</option>
		<option value="PF">FRENCH POLYNESIA</option>
		<option value="TF">FRENCH SOUTHERN TERRITORIES</option>
		<option value="GA">GABON</option>
		<option value="GM">GAMBIA</option>
		<option value="GE">GEORGIA</option>
		<option value="DE">GERMANY</option>
		<option value="GH">GHANA</option>
		<option value="GI">GIBRALTAR</option>
		<option value="GR">GREECE</option>
		<option value="GL">GREENLAND</option>
		<option value="GD">GRENADA</option>
		<option value="GP">GUADELOUPE</option>
		<option value="GU">GUAM</option>
		<option value="GT">GUATEMALA</option>
		<option value="GN">GUINEA</option>
		<option value="GW">GUINEA-BISSAU</option>
		<option value="GY">GUYANA</option>
		<option value="HT">HAITI</option>
		<option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
		<option value="VA">HOLY SEE (VATICAN CITY STATE)</option>
		<option value="HN">HONDURAS</option>
		<option value="HK">HONG KONG</option>
		<option value="HU">HUNGARY</option>
		<option value="IS">ICELAND</option>
		<option value="IN">INDIA</option>
		<option value="ID">INDONESIA</option>
		<option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>
		<option value="IQ">IRAQ</option>
		<option value="IE">IRELAND</option>
		<option value="IL">ISRAEL</option>
		<option value="IT">ITALY</option>
		<option value="JM">JAMAICA</option>
		<option value="JP">JAPAN</option>
		<option value="JO">JORDAN</option>
		<option value="KZ">KAZAKHSTAN</option>
		<option value="KE">KENYA</option>
		<option value="KI">KIRIBATI</option>
		<option value="KP">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
		<option value="KR">KOREA, REPUBLIC OF</option>
		<option value="KW">KUWAIT</option>
		<option value="KG">KYRGYZSTAN</option>
		<option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
		<option value="LV">LATVIA</option>
		<option value="LB">LEBANON</option>
		<option value="LS">LESOTHO</option>
		<option value="LR">LIBERIA</option>
		<option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
		<option value="LI">LIECHTENSTEIN</option>
		<option value="LT">LITHUANIA</option>
		<option value="LU">LUXEMBOURG</option>
		<option value="MO">MACAO</option>
		<option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
		<option value="MG">MADAGASCAR</option>
		<option value="MW">MALAWI</option>
		<option value="MY">MALAYSIA</option>
		<option value="MV">MALDIVES</option>
		<option value="ML">MALI</option>
		<option value="MT">MALTA</option>
		<option value="MH">MARSHALL ISLANDS</option>
		<option value="MQ">MARTINIQUE</option>
		<option value="MR">MAURITANIA</option>
		<option value="MU">MAURITIUS</option>
		<option value="YT">MAYOTTE</option>
		<option value="MX">MEXICO</option>
		<option value="FM">MICRONESIA, FEDERATED STATES OF</option>
		<option value="MD">MOLDOVA, REPUBLIC OF</option>
		<option value="MC">MONACO</option>
		<option value="MN">MONGOLIA</option>
		<option value="MS">MONTSERRAT</option>
		<option value="MA">MOROCCO</option>
		<option value="MZ">MOZAMBIQUE</option>
		<option value="MM">MYANMAR</option>
		<option value="NA">NAMIBIA</option>
		<option value="NR">NAURU</option>
		<option value="NP">NEPAL</option>
		<option value="NL">NETHERLANDS</option>
		<option value="AN">NETHERLANDS ANTILLES</option>
		<option value="NC">NEW CALEDONIA</option>
		<option value="NZ">NEW ZEALAND</option>
		<option value="NI">NICARAGUA</option>
		<option value="NE">NIGER</option>
		<option value="NG">NIGERIA</option>
		<option value="NU">NIUE</option>
		<option value="NF">NORFOLK ISLAND</option>
		<option value="MP">NORTHERN MARIANA ISLANDS</option>
		<option value="NO">NORWAY</option>
		<option value="OM">OMAN</option>
		<option value="PK">PAKISTAN</option>
		<option value="PW">PALAU</option>
		<option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>
		<option value="PA">PANAMA</option>
		<option value="PG">PAPUA NEW GUINEA</option>
		<option value="PY">PARAGUAY</option>
		<option value="PE">PERU</option>
		<option value="PH">PHILIPPINES</option>
		<option value="PN">PITCAIRN</option>
		<option value="PL">POLAND</option>
		<option value="PT">PORTUGAL</option>
		<option value="PR">PUERTO RICO</option>
		<option value="QA">QATAR</option>
		<option value="RO">ROMANIA</option>
		<option value="RE">RUNION</option>
		<option value="RU">RUSSIAN FEDERATION</option>
		<option value="RW">RWANDA</option>
		<option value="SH">SAINT HELENA</option>
		<option value="KN">SAINT KITTS AND NEVIS</option>
		<option value="LC">SAINT LUCIA</option>
		<option value="PM">SAINT PIERRE AND MIQUELON</option>
		<option value="VC">SAINT VINCENT AND THE GRENADINES</option>
		<option value="WS">SAMOA</option>
		<option value="SM">SAN MARINO</option>
		<option value="ST">SAO TOME AND PRINCIPE</option>
		<option value="SA">SAUDI ARABIA</option>
		<option value="SN">SENEGAL</option>
		<option value="CS">SERBIA AND MONTENEGRO</option>
		<option value="SC">SEYCHELLES</option>
		<option value="SL">SIERRA LEONE</option>
		<option value="SG">SINGAPORE</option>
		<option value="SK">SLOVAKIA</option>
		<option value="SI">SLOVENIA</option>
		<option value="SB">SOLOMON ISLANDS</option>
		<option value="SO">SOMALIA</option>
		<option value="ZA">SOUTH AFRICA</option>
		<option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
		<option value="ES">SPAIN</option>
		<option value="LK">SRI LANKA</option>
		<option value="SD">SUDAN</option>
		<option value="SR">SURINAME</option>
		<option value="SJ">SVALBARD AND JAN MAYEN</option>
		<option value="SZ">SWAZILAND</option>
		<option value="SE">SWEDEN</option>
		<option value="CH">SWITZERLAND</option>
		<option value="SY">SYRIAN ARAB REPUBLIC</option>
		<option value="TW">TAIWAN, PROVINCE OF CHINA</option>
		<option value="TJ">TAJIKISTAN</option>
		<option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
		<option value="TH">THAILAND</option>
		<option value="TL">TIMOR-LESTE</option>
		<option value="TG">TOGO</option>
		<option value="TK">TOKELAU</option>
		<option value="TO">TONGA</option>
		<option value="TT">TRINIDAD AND TOBAGO</option>
		<option value="TN">TUNISIA</option>
		<option value="TR">TURKEY</option>
		<option value="TM">TURKMENISTAN</option>
		<option value="TC">TURKS AND CAICOS ISLANDS</option>
		<option value="TV">TUVALU</option>
		<option value="UG">UGANDA</option>
		<option value="UA">UKRAINE</option>
		<option value="AE">UNITED ARAB EMIRATES</option>
		<option value="GB">UNITED KINGDOM</option>
		<option value="US">UNITED STATES</option>
		<option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
		<option value="UY">URUGUAY</option>
		<option value="UZ">UZBEKISTAN</option>
		<option value="VU">VANUATU</option>
		<option value="VE">VENEZUELA</option>
		<option value="VN">VIET NAM</option>
		<option value="VG">VIRGIN ISLANDS, BRITISH</option>
		<option value="VI">VIRGIN ISLANDS, U.S.</option>
		<option value="WF">WALLIS AND FUTUNA</option>
		<option value="EH">WESTERN SAHARA</option>
		<option value="YE">YEMEN</option>
		<option value="ZM">ZAMBIA</option>
		<option value="ZW">ZIMBABWE</option>
	</select>
	<label>Billing Address</label>
	<input id="BillingAddress" type="text" maxlength="500" name="BillingAddress" />
	<label>City</label>
	<input id="BillingCity" type="text" maxlength="255" name="BillingCity" />
	<label>State</label>
	<input id="BillingState" type="text" maxlength="255" name="BillingState" />
	<label>Zipcode/Postcode</label>
	<input id="BillingZip" type="text" maxlength="255" name="BillingZip" />
	<label>Country</label>
	<select class="form-select" id="BillingCountry" name="BillingCountry">
		<option selected="true">-- Select Country --</option>
		<option value="AF">AFGHANISTAN</option>
		<option value="AX">ALAND ISLANDS</option>
		<option value="AL">ALBANIA</option>
		<option value="DZ">ALGERIA</option>
		<option value="AS">AMERICAN SAMOA</option>
		<option value="AD">ANDORRA</option>
		<option value="AO">ANGOLA</option>
		<option value="AI">ANGUILLA</option>
		<option value="AQ">ANTARCTICA</option>
		<option value="AG">ANTIGUA AND BARBUDA</option>
		<option value="AR">ARGENTINA</option>
		<option value="AM">ARMENIA</option>
		<option value="AW">ARUBA</option>
		<option value="AU">AUSTRALIA</option>
		<option value="AT">AUSTRIA</option>
		<option value="AZ">AZERBAIJAN</option>
		<option value="BS">BAHAMAS</option>
		<option value="BH">BAHRAIN</option>
		<option value="BD">BANGLADESH</option>
		<option value="BB">BARBADOS</option>
		<option value="BY">BELARUS</option>
		<option value="BE">BELGIUM</option>
		<option value="BZ">BELIZE</option>
		<option value="BJ">BENIN</option>
		<option value="BM">BERMUDA</option>
		<option value="BT">BHUTAN</option>
		<option value="BO">BOLIVIA</option>
		<option value="BA">BOSNIA AND HERZEGOVINA</option>
		<option value="BW">BOTSWANA</option>
		<option value="BV">BOUVET ISLAND</option>
		<option value="BR">BRAZIL</option>
		<option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
		<option value="BN">BRUNEI DARUSSALAM</option>
		<option value="BG">BULGARIA</option>
		<option value="BF">BURKINA FASO</option>
		<option value="BI">BURUNDI</option>
		<option value="KH">CAMBODIA</option>
		<option value="CM">CAMEROON</option>
		<option value="CA">CANADA</option>
		<option value="CV">CAPE VERDE</option>
		<option value="CI">CâTE D'IVOIRE</option>
		<option value="KY">CAYMAN ISLANDS</option>
		<option value="CF">CENTRAL AFRICAN REPUBLIC</option>
		<option value="TD">CHAD</option>
		<option value="CL">CHILE</option>
		<option value="CN">CHINA</option>
		<option value="CX">CHRISTMAS ISLAND</option>
		<option value="CC">COCOS (KEELING) ISLANDS</option>
		<option value="CO">COLOMBIA</option>
		<option value="KM">COMOROS</option>
		<option value="CG">CONGO</option>
		<option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
		<option value="CK">COOK ISLANDS</option>
		<option value="CR">COSTA RICA</option>
		<option value="HR">CROATIA</option>
		<option value="CU">CUBA</option>
		<option value="CY">CYPRUS</option>
		<option value="CZ">CZECH REPUBLIC</option>
		<option value="DK">DENMARK</option>
		<option value="DJ">DJIBOUTI</option>
		<option value="DM">DOMINICA</option>
		<option value="DO">DOMINICAN REPUBLIC</option>
		<option value="EC">ECUADOR</option>
		<option value="EG">EGYPT</option>
		<option value="SV">EL SALVADOR</option>
		<option value="GQ">EQUATORIAL GUINEA</option>
		<option value="ER">ERITREA</option>
		<option value="EE">ESTONIA</option>
		<option value="ET">ETHIOPIA</option>
		<option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
		<option value="FO">FAROE ISLANDS</option>
		<option value="FJ">FIJI</option>
		<option value="FI">FINLAND</option>
		<option value="FR">FRANCE</option>
		<option value="GF">FRENCH GUIANA</option>
		<option value="PF">FRENCH POLYNESIA</option>
		<option value="TF">FRENCH SOUTHERN TERRITORIES</option>
		<option value="GA">GABON</option>
		<option value="GM">GAMBIA</option>
		<option value="GE">GEORGIA</option>
		<option value="DE">GERMANY</option>
		<option value="GH">GHANA</option>
		<option value="GI">GIBRALTAR</option>
		<option value="GR">GREECE</option>
		<option value="GL">GREENLAND</option>
		<option value="GD">GRENADA</option>
		<option value="GP">GUADELOUPE</option>
		<option value="GU">GUAM</option>
		<option value="GT">GUATEMALA</option>
		<option value="GN">GUINEA</option>
		<option value="GW">GUINEA-BISSAU</option>
		<option value="GY">GUYANA</option>
		<option value="HT">HAITI</option>
		<option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
		<option value="VA">HOLY SEE (VATICAN CITY STATE)</option>
		<option value="HN">HONDURAS</option>
		<option value="HK">HONG KONG</option>
		<option value="HU">HUNGARY</option>
		<option value="IS">ICELAND</option>
		<option value="IN">INDIA</option>
		<option value="ID">INDONESIA</option>
		<option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>
		<option value="IQ">IRAQ</option>
		<option value="IE">IRELAND</option>
		<option value="IL">ISRAEL</option>
		<option value="IT">ITALY</option>
		<option value="JM">JAMAICA</option>
		<option value="JP">JAPAN</option>
		<option value="JO">JORDAN</option>
		<option value="KZ">KAZAKHSTAN</option>
		<option value="KE">KENYA</option>
		<option value="KI">KIRIBATI</option>
		<option value="KP">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
		<option value="KR">KOREA, REPUBLIC OF</option>
		<option value="KW">KUWAIT</option>
		<option value="KG">KYRGYZSTAN</option>
		<option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
		<option value="LV">LATVIA</option>
		<option value="LB">LEBANON</option>
		<option value="LS">LESOTHO</option>
		<option value="LR">LIBERIA</option>
		<option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
		<option value="LI">LIECHTENSTEIN</option>
		<option value="LT">LITHUANIA</option>
		<option value="LU">LUXEMBOURG</option>
		<option value="MO">MACAO</option>
		<option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
		<option value="MG">MADAGASCAR</option>
		<option value="MW">MALAWI</option>
		<option value="MY">MALAYSIA</option>
		<option value="MV">MALDIVES</option>
		<option value="ML">MALI</option>
		<option value="MT">MALTA</option>
		<option value="MH">MARSHALL ISLANDS</option>
		<option value="MQ">MARTINIQUE</option>
		<option value="MR">MAURITANIA</option>
		<option value="MU">MAURITIUS</option>
		<option value="YT">MAYOTTE</option>
		<option value="MX">MEXICO</option>
		<option value="FM">MICRONESIA, FEDERATED STATES OF</option>
		<option value="MD">MOLDOVA, REPUBLIC OF</option>
		<option value="MC">MONACO</option>
		<option value="MN">MONGOLIA</option>
		<option value="MS">MONTSERRAT</option>
		<option value="MA">MOROCCO</option>
		<option value="MZ">MOZAMBIQUE</option>
		<option value="MM">MYANMAR</option>
		<option value="NA">NAMIBIA</option>
		<option value="NR">NAURU</option>
		<option value="NP">NEPAL</option>
		<option value="NL">NETHERLANDS</option>
		<option value="AN">NETHERLANDS ANTILLES</option>
		<option value="NC">NEW CALEDONIA</option>
		<option value="NZ">NEW ZEALAND</option>
		<option value="NI">NICARAGUA</option>
		<option value="NE">NIGER</option>
		<option value="NG">NIGERIA</option>
		<option value="NU">NIUE</option>
		<option value="NF">NORFOLK ISLAND</option>
		<option value="MP">NORTHERN MARIANA ISLANDS</option>
		<option value="NO">NORWAY</option>
		<option value="OM">OMAN</option>
		<option value="PK">PAKISTAN</option>
		<option value="PW">PALAU</option>
		<option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>
		<option value="PA">PANAMA</option>
		<option value="PG">PAPUA NEW GUINEA</option>
		<option value="PY">PARAGUAY</option>
		<option value="PE">PERU</option>
		<option value="PH">PHILIPPINES</option>
		<option value="PN">PITCAIRN</option>
		<option value="PL">POLAND</option>
		<option value="PT">PORTUGAL</option>
		<option value="PR">PUERTO RICO</option>
		<option value="QA">QATAR</option>
		<option value="RO">ROMANIA</option>
		<option value="RE">RUNION</option>
		<option value="RU">RUSSIAN FEDERATION</option>
		<option value="RW">RWANDA</option>
		<option value="SH">SAINT HELENA</option>
		<option value="KN">SAINT KITTS AND NEVIS</option>
		<option value="LC">SAINT LUCIA</option>
		<option value="PM">SAINT PIERRE AND MIQUELON</option>
		<option value="VC">SAINT VINCENT AND THE GRENADINES</option>
		<option value="WS">SAMOA</option>
		<option value="SM">SAN MARINO</option>
		<option value="ST">SAO TOME AND PRINCIPE</option>
		<option value="SA">SAUDI ARABIA</option>
		<option value="SN">SENEGAL</option>
		<option value="CS">SERBIA AND MONTENEGRO</option>
		<option value="SC">SEYCHELLES</option>
		<option value="SL">SIERRA LEONE</option>
		<option value="SG">SINGAPORE</option>
		<option value="SK">SLOVAKIA</option>
		<option value="SI">SLOVENIA</option>
		<option value="SB">SOLOMON ISLANDS</option>
		<option value="SO">SOMALIA</option>
		<option value="ZA">SOUTH AFRICA</option>
		<option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
		<option value="ES">SPAIN</option>
		<option value="LK">SRI LANKA</option>
		<option value="SD">SUDAN</option>
		<option value="SR">SURINAME</option>
		<option value="SJ">SVALBARD AND JAN MAYEN</option>
		<option value="SZ">SWAZILAND</option>
		<option value="SE">SWEDEN</option>
		<option value="CH">SWITZERLAND</option>
		<option value="SY">SYRIAN ARAB REPUBLIC</option>
		<option value="TW">TAIWAN, PROVINCE OF CHINA</option>
		<option value="TJ">TAJIKISTAN</option>
		<option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
		<option value="TH">THAILAND</option>
		<option value="TL">TIMOR-LESTE</option>
		<option value="TG">TOGO</option>
		<option value="TK">TOKELAU</option>
		<option value="TO">TONGA</option>
		<option value="TT">TRINIDAD AND TOBAGO</option>
		<option value="TN">TUNISIA</option>
		<option value="TR">TURKEY</option>
		<option value="TM">TURKMENISTAN</option>
		<option value="TC">TURKS AND CAICOS ISLANDS</option>
		<option value="TV">TUVALU</option>
		<option value="UG">UGANDA</option>
		<option value="UA">UKRAINE</option>
		<option value="AE">UNITED ARAB EMIRATES</option>
		<option value="GB">UNITED KINGDOM</option>
		<option value="US">UNITED STATES</option>
		<option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
		<option value="UY">URUGUAY</option>
		<option value="UZ">UZBEKISTAN</option>
		<option value="VU">VANUATU</option>
		<option value="VE">VENEZUELA</option>
		<option value="VN">VIET NAM</option>
		<option value="VG">VIRGIN ISLANDS, BRITISH</option>
		<option value="VI">VIRGIN ISLANDS, U.S.</option>
		<option value="WF">WALLIS AND FUTUNA</option>
		<option value="EH">WESTERN SAHARA</option>
		<option value="YE">YEMEN</option>
		<option value="ZM">ZAMBIA</option>
		<option value="ZW">ZIMBABWE</option>
	</select>
	<label>Work Phone Number</label>
	<input id="WorkPhone" type="text" maxlength="255" name="WorkPhone" />
	<label>Shipping Instructions</label>
	<textarea class="cat_listbox" id="ShippingInstructions" name="ShippingInstructions" cols="5"></textarea>
	<div class="credit-card-form">
	<label>Name on Card *</label>
	<input id="CardName" type="text" name="CardName" />
	<label>Card Number *</label>
	<input id="CardNumber" type="text" name="CardNumber" />
	<label>Card Expiry *</label>
	<select class="form-select-small" id="CardExpiryMonth" name="CardExpiryMonth">
		<option value="1" selected="true">Jan</option>
		<option value="2">Feb</option>
		<option value="3">Mar</option>
		<option value="4">Apr</option>
		<option value="5">May</option>
		<option value="6">Jun</option>
		<option value="7">Jul</option>
		<option value="8">Aug</option>
		<option value="9">Sep</option>
		<option value="10">Oct</option>
		<option value="11">Nov</option>
		<option value="12">Dec</option>
	</select>
	<select class="form-select-small" id="CardExpiryYear" name="CardExpiryYear">
		<option value="2007" selected="true">2007</option>
		<option value="2008">2008</option>
		<option value="2009">2009</option>
		<option value="2010">2010</option>
		<option value="2011">2011</option>
		<option value="2012">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
	</select>
	<label>Card Type *</label>
	<select class="form-select" id="CardType" name="CardType">
		<option value="1" selected="true">Visa</option>
		<option value="2">Master Card</option>
		<option value="3">Bank Card</option>
		<option value="4">American Express</option>
		<option value="5">Diners Club</option>
		<option value="6">JCB</option>
	</select>
	<label>CCV Number *</label>
	<input id="CardCCV" type="text" name="CardCCV" />
	<!-- paymentdiv -->
	<label>Amount *</label>
	<input id="Amount" type="text" name="Amount" />
	<label>Payment Method</label>
	<input class="PaymentMethodType label-radio" onClick="ShowCCFields(this.value);" type="radio" checked="true" value="1" name="PaymentMethodType" />
	Credit Card<br />
	<input class="PaymentMethodType label-radio" onClick="ShowCCFields(this.value);" type="radio" value="7" name="PaymentMethodType" />
	Credit Card (Hosted) (remove if not required)<br />
	<input class="PaymentMethodType label-radio" onClick="ShowCCFields(this.value);" type="radio" value="3" name="PaymentMethodType" />
	COD<br />
	<input class="PaymentMethodType label-radio" onClick="ShowCCFields(this.value);" type="radio" value="5" name="PaymentMethodType" />
	PayPal<br />
	<input class="PaymentMethodType label-radio" onClick="ShowCCFields(this.value);" type="radio" value="9" name="PaymentMethodType" />
	Gift Voucher
	</div>
	<div class="ssl"><img alt="GlobalSign SSL Site Seal" src="/CatalystImages/globalsign-ssl-site-seal.gif" /> </div>
	<input class="form-submit" id="catwebformbutton" type="submit" value="Submit" />
	<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script> 
	<script language="javascript" type="text/javascript">
			//<![CDATA[
			var submitcount42059 = 0;function checkWholeForm42059(theForm){var why = "";if (theForm.FirstName) why += isEmpty(theForm.FirstName.value, "First Name");if (theForm.LastName) why += isEmpty(theForm.LastName.value, "Last Name"); if (theForm.EmailAddress) why += checkEmail(theForm.EmailAddress.value); if (!theForm.PaymentMethodType || getRadioSelected(theForm.PaymentMethodType) == 1) { if (theForm.CardName) why += isEmpty(theForm.CardName.value, "Name on Card"); if (theForm.CardNumber) why += isNumeric(theForm.CardNumber.value, "Card Number"); if (theForm.Amount) why += isCurrency(theForm.Amount.value, "Amount"); } if (theForm.PaymentMethodType) why += checkSelected(theForm.PaymentMethodType, "Payment Method");if(why != ""){alert(why);return false;}if(submitcount42059 == 0){submitcount42059++;theForm.submit();return false;}else{alert("Form submission is in progress.");return false;}}
			// Credit Card info is not required if paying by PayPal, Hosted Credit Card, COD etc
			function ShowCCFields(val) {							
				if (!document.getElementById('paymentdiv'))
					return;  		
				if (val != 1)
					document.getElementById('paymentdiv').style.display = 'none';				
				else
					document.getElementById('paymentdiv').style.display = 'inline';
		  }				
			//]]>
		</script>
</form>
</div>
