
<div class="shop-main clear">
	<div class="header clear">
		<div class="breadcrumbs">You are here: {tag_cataloguebreadcrumbs}</div>
		<div class="cart-summary">{module_shoppingcartsummary direction="horizontal"}</div>
	</div>
	<div class="body clear">{tag_cataloguelist,4} {tag_productlist,4} </div>
	<div class="footer clear">{tag_previouspage,<img src="/CatalystImages/module_previous.png"/>} {tag_nextpage,<img src="/CatalystImages/module_next.png"/>} <br>
		<br>
		{{pagination}}</div>
</div>
