
<div class="shop-quote-receipt">
	<h1>Quote Receipt</h1>
	<p class="error">{module_error}</p>
	<p>Thank you for your enquiry. One of our representatives will contact you shortly.</p>
	<hr />
	<h2>Order Number</h2>
	<p>{{orderId}}</p>
</div>
