
<div class="shop-product-small clear">
	<h2>{{title}}</h2>
	<div class="image"><img src="{{smallImage}}" alt="{{title}}"></div>
	<ul>
		<li class="price">Price: <strong>{{salePrice}}</strong>&nbsp;</li>
		<li class="stock">In stock: <strong>{{inStock}}</strong>&nbsp;</li>
		<li class="quantity">Qty: <strong>{tag_addtocartinputfield}</strong> {tag_addtocart}</li>
	</ul>
</div>
