<div class="container">
    <div class="footer-logo">
        <img src="/_assets/layout/logo-white.png" alt="Scribble Design">
    </div>
    <div class="footer-social">
        <ul class="center-block">
            <li><a href="https://www.facebook.com/scribblenz/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/peterwitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://google.com/+ScribbledesignNz" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/peterkoopmannz" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-copy">
    <p>&copy;2016 Scribble Design Ltd. All rights reserved.</p>
    </div>
</div>
