
<div class="blog-comment-container">
	<div class="comment-details"> <span class="comment-flag">{{flagUrl}}</span> <strong>{{fullName}}</strong> commented on {{date}} </div>
	<div class="comment">{{body}}</div>
</div>
