<div class="blog-post">
	<h2 class="post-title"> {{title}} </h2>
	<div class="post-details"> {{author}} - {{date}}</div>
	<div class="post-body"> {{body}}
		<div class="links"> <a href="{tag_permalinkonly}#comments">Comments ({tag_commentcount})</a> | <a href="{tag_permalinkonly}#trackbacks">Trackbacks ({{trackbacksCount}})</a> | {tag_permalink} </div>
	</div>
</div>
