
<h3>Case Details</h3>
<table class="case-details" cellspacing="0" cellpadding="0">
	<tr class="odd">
		<td class="var">Subject</td>
		<td class="val">{{subject}}</td>
	</tr>
	<tr>
		<td class="var">Description</td>
		<td class="val">{{description}}</td>
	</tr>
	<tr class="odd">
		<td class="var">Status</td>
		<td class="val">{{status}}</td>
	</tr>
	<tr>
		<td class="var">Category</td>
		<td class="val">{tag_category}</td>
	</tr>
	<tr class="odd">
		<td class="var">Assigned To</td>
		<td class="val">{{assignedto}}</td>
	</tr>
	<tr>
		<td class="var">Create Date</td>
		<td class="val">{{createdate}}</td>
	</tr>
	<tr class="odd">
		<td class="var">Last Update Date</td>
		<td class="val">{{lastupdatedate}}</td>
	</tr>
	<tr>
		<td class="var">Thread</td>
		<td class="val">{tag_thread}</td>
	</tr>
</table>
