
<div class="comment-container">
	<div class="header"> <span class="name">{tag_fullname}</span> commented on <span class="date">{tag_usagedate}</span><span class="rating">{{rating}}</span> </div>
	<div class="content"> {tag_feedback} </div>
</div>
