<!DOCTYPE HTML>
<html>

    <head>
        <title>Blog</title>
    </head>

    <body>

        {% if globals.get.tag %} 
        {module_webapps id="Blog" filter="all" template="" collection="webapps"} 
        	{% for w in webapps.items -%} 
        		{% assign tagarr = w.tags | split: "," -%}
        		{% assign found = 0 -%} 
        		{% for t in tagarr -%} 
        			{% assign ftag = t | downcase | strip | replace: " ", "-" -%} 
        			{% if ftag == globals.get.tag and found == 0 -%}
        				{module_webapps id="Blog" filter="item" itemId="{{w.itemId}}" render="item"} 
        				{% assign found = 1 %} 
        			{% endif %}
        		{% endfor %} 
        	{% endfor %} 
        {% elsif globals.get.cat %}
        	{module_webapps id="Blog" filter="classified" itemId="{{globals.get.cat}}"} {% else %} {module_webapps id="Blog" filter="all"} 
        {% endif %}

    </body>

</html>