@import url(//fonts.googleapis.com/css?family=Roboto:400,100,700,300);
/* ------------------- Reset ----------------- */
/*---------------- Global Elements ------------*/
/* /stylesheets/less/global/typography.less */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}
h1,
.h1 {
  font-size: 36px;
  font-weight: 400;
}
h2,
.h2 {
  font-size: 28px;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 22px;
  font-weight: 300;
}
/*@media screen and (min-width:@screen-med){
    h1, .h1{font-size:36px;}
    h2, .h2{font-size:32px;}
    h3, .h3{font-size:26px;}
}*/
.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.animate-fade:hover {
  opacity: 0;
}
.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
/* /stylesheets/less/global/spacing.less */
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: .7em;
  margin-bottom: .3em;
}
/*-------------------- Objects ----------------*/
/*--------------------Page Structure--------------*/
/* /stylesheets/less/objects/header.less */
/* /stylesheets/less/objects/nav.less */
.navbar-default {
  background: rgba(242, 144, 0, 0.9);
  position: fixed;
  width: 100%;
  border-radius: 0 ;
  border: none;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.navbar-default .navbar-toggle {
  border: none;
  background: transparent;
}
.navbar-default .navbar-toggle:hover {
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-out;
          transition: color 0.2s ease-out;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffe0b2;
}
.navbar-default .navbar-collapse {
  border: none;
  background: #fcfcfc;
}
.navbar-brand {
  height: auto;
}
@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
    background: transparent;
  }
  .navbar-nav {
    margin: 45px 0 0 0;
    float: right;
  }
}
/* /stylesheets/less/objects/slideshow.less */
.slideshow {
  position: relative;
}
.slideshow ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slideshow ul li {
  text-align: center;
}
.slideshow ul img {
  width: 100%;
  max-width: 2000px;
}
.slideshow .slideshow-caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: #fcfcfc;
  font-size: 26px;
  font-weight: 100;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .slideshow .slideshow-caption {
    font-size: 50px;
  }
}
/* /stylesheets/less/objects/footer.less */
footer {
  padding: 2em 0;
  background: #ffa726;
  text-align: center;
}
.footer-logo {
  margin: 1em 0;
}
.footer-social ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 250px;
}
.footer-social a {
  color: #ffa726;
  font-size: 25px;
  line-height: 40px;
}
.footer-social li {
  width: 25%;
  background: #fcfcfc;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.footer-social li a {
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}
.footer-social li:hover {
  background: #ffa726;
}
.footer-social li:hover a {
  color: #fcfcfc;
}
.footer-copy {
  margin: 1em 0;
}
.footer-copy p {
  font-size: 14px;
  color: #ffcc80;
}
/* /stylesheets/less/objects/content.less */
.main-content {
  padding-top: 110px;
  padding-bottom: 50px;
}
.hero {
  background: no-repeat center top url(/_assets/slideshow/slideshow-1.jpg);
  background-size: cover;
}
.hero-heading {
  height: 250px;
  position: relative;
}
.hero-heading h1 {
  color: #fcfcfc;
  position: absolute;
  bottom: 1em;
  left: 0;
}
.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 1em 0;
}
.feature-item {
  width: 96%;
  padding: 1em;
  margin: 2%;
  background: #fff3e0;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ffa726;
}
.feature-item i {
  color: #ffa726;
  font-size: 50px;
}
.home-services ul {
  list-style: none;
  padding: 0 0 0 .2em;
}
.home-services li {
  color: #666666;
}
.home-tech img {
  margin: 1em 0;
}
.home-services,
.home-contact,
.home-tech {
  padding: 1em 2em;
}
@media (min-width: 768px) {
  .feature-item {
    width: 29%;
  }
}
@media (min-width: 992px) {
  .hero-heading {
    height: 450px;
  }
}
/* /stylesheets/less/objects/blog.less */
.blog-body {
  padding: 0 3em;
  font-size: 18px;
}
.blog-image {
  padding: 2em 0 3em;
}
.blog-latest ul,
.blog-categories ul {
  padding: 0;
  list-style: none;
}
.blog-list-item h2 a,
.blog-content h1 a {
  -webkit-transition: color 0.2s ease-out;
          transition: color 0.2s ease-out;
}
.blog-list-item h2 a:hover,
.blog-content h1 a:hover,
.blog-list-item h2 a:focus,
.blog-content h1 a:focus {
  text-decoration: none;
  outline: none;
}
.blog-author-date {
  border-top: 1px solid #cccccc;
}
.blog-author-date p {
  font-size: 13px;
  color: #cccccc;
}
.blog-comment-form {
  margin: 3em 0;
}
/*--------------------- Components --------------*/
/* Lists */
.inline-list li {
  display: inline-block;
}
/* Social List */
.social-list li {
  margin: 0 0.4rem $space 0;
}
.social-list a {
  font-size: 1.6em;
}
/* Bullet List */
.bullet-list {
  list-style: disc inside;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
}
.bullet-list li {
  margin-bottom: $space;
}
/* Text List */
.text-list {
  list-style: disc inside;
  margin: 0 0 1em;
  line-height: 1.3;
}
.text-list li {
  margin-bottom: 1em;
}
/*# sourceMappingURL=style.css.map */