<!DOCTYPE html>
<html>

<head>
    {% include "/_System/Includes/head.inc" %}
</head>

<body>
    {module_contentholder name="nav"} 
    {module_pagename template=""} 
    {% assign pageclass = this.pagename.name | downcase | replace:" ","" -%}
    <section class="container main-content blog-content page-{{pageclass}}">
        {% if pagename.name == "Blog" %}
        <h1>Scribble Design Blog</h1>
        {% else %}
        <h1><a href="/blog" title="Back to blog list">Scribble Design Blog</a></h1>

        {% endif %}
        <div class="row">
            <div class="col-sm-9">
                {tag_pagecontent}
            </div>
            <div class="col-sm-3">
                <div class="blog-latest">
                    <h3>Latest Posts</h3> 
                    {module_webapps id="Blog" filter="latest" resultsPerPage="5" template="" collection="latest"}
                    <ul>
                        {% for p in latest.items %}
                        <li><a href="{{p.url}}" title="{{p.name}}">{{p.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="blog-tags">
                    <h3>Tags</h3>
                </div>
                <div class="blog-categories">
                    <h3>Categories</h3>
                    {module_categorylist id="61202" template="" collection="cats"}
                    <ul>
                    {% for c in cats.items -%}
                        <li><a href="/blog?cat={{c.id}}">{{c.name}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Footer section-->
    <footer>
    {module_contentholder name="footer"}
    </footer>
    <!--/.Footer section-->
    {module_webapps id="Blog" filter="all" template="" collection="tags"}
    {% assign tagstr = "" %}
    {% for i in tags.items %}
        {% assign tagstr = tagstr | append: i.tags | downcase | append: "," %}
    {% endfor %}

    {% assign tagarr = tagstr | split: "," | json %}
    <script>
    $(function(){
        var tags = {{tagarr}},
            tagstr = "";

        for(t in tags){
            tags[t] = tags[t].trim().replace(" ", "-");
        }

        tags = uniq(tags);
        for(ts in tags){
            tagstr = "<a href='/blog?tag=" + tags[ts] + "'>" + tags[ts] + "</a> &nbsp; ";
            $(".blog-tags").append(tagstr)
        }
    });
    function uniq(a) {
        return a.sort().filter(function(item, pos, ary) {
            return !pos || item != ary[pos - 1];
        })
    }
    </script>
</body>

</html>
