<!DOCTYPE html>
<html>

<head>
    <title>{tag_pagetitle}</title>
    <meta name="Description" content="Web design and development for online businesses. We offer the complete solution for your online business.">
    {% include "/_System/Includes/head.inc" %}
</head>

<body>
    {module_contentholder name="nav"}
    {module_pagename template=""} 
    {% assign pageclass = this.pagename.name | downcase | replace:" ","" -%}
    <section class='main-content page-{{pageclass}}'>
        {tag_pagecontent}
    </section>
    <footer>
        {module_contentholder name="footer"}
    </footer>
</body>

</html>
