/* /stylesheets/less/global/typography.less */
body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size:16px;
    color:@black;
}

h1, .h1{
    font-size:36px;
    font-weight: 400;
}
h2, .h2{
    font-size:28px;
    font-weight:300;
}

h3, .h3{
    font-size:22px;
    font-weight:300;
}

/*@media screen and (min-width:@screen-med){
    h1, .h1{font-size:36px;}
    h2, .h2{font-size:32px;}
    h3, .h3{font-size:26px;}
}*/