//
// Mixins
// ----------------------------------------------------------

.RoundedCorners(@radius:8px){
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.Placeholder(@color:#000, @case:none){
	&::-webkit-input-placeholder { color: @color; text-transform: @case; }
	&:-moz-placeholder { color: @color; text-transform: @case; }
	&::-moz-placeholder { color: @color; text-transform: @case; }
	&:-ms-input-placeholder { color: @color; text-transform: @case; }
}

// Usage: .Transition(width,0.3s,ease-out);
.Transition(@transition-property, @transition-time, @method) {
	-webkit-transition: @transition-property @transition-time @method;
	-moz-transition: @transition-property @transition-time @method;
	-ms-transition: @transition-property @transition-time @method;
	-o-transition: @transition-property @transition-time @method;
	transition: @transition-property @transition-time @method;
}


// Usage: .Rotate(90deg);
.Rotate(@angle){
	-webkit-transform: rotate(@angle);
	-moz-transform: rotate(@angle);
	-ms-transform: rotate(@angle);
	-o-transform: rotate(@angle);
	transform: rotate(@angle);
}





