// Variables
//----------------------------------------------------------------


// Breakpoints
//--------------------------------------------------------
@screen-xlge:		1200px;
@screen-lge:		992px;
@screen-med:		768px;
@screen-small:		500px;
@screen-xsmall:		400px;

// Fonts
//--------------------------------------------------------
@font: 				'Roboto', sans-serif;
@font-second:		Georgia, Times, "Times New Roman", serif;
@font-wt-xlight: 	100;
@font-wt-light: 	300;
@font-wt-normal: 	400;
@font-wt-bold: 		700;

@font-size-xxlarge:	26px;
@font-size-xlarge:	21px;
@font-size-large:	18px;
@font-size-normal:	16px;
@font-size-small:	14px;
@font-size-xsmall:	12px;


// 
// Colours
// ---------------------------------------------------------

@black: 		#000;
@darker-gray:	#231f20;
@dark-gray: 	#404040;
@mid-gray:		#666;
@light-gray: 	#ccc;
@lighter-gray:	#d7d7d7;
@off-white:		#fafafa;
@white: 		#fcfcfc;
@dim: 			rgba(0,0,0,0.5);
@error: 		#f00;
@valid: 		#089e00;
@warning: 		#fff664;
@information: 	#000db5;

@scribble:		#FDA709;



